
.card{
    border-radius:10px;
    border: 1px solid rgba(128, 128, 128, 0.213);
}
.link-effect{
    color: #05386B;
}
.img-size{
    border-radius:10px 10px 0 0;
    height:150px;
}
.text{
    transition: background-color 1s ease , color 1s ease;
    border-radius:0 0 10px 10px;
}
.link-effect:hover{
    border-radius:0 0 10px 10px;
    color: #659dbd;
}

